body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ece0d1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blogDemo {
  border: black solid 1px;
  text-decoration: none;
  color: black
}

.profile {
  border-radius: 50%;
  width: 75px;
  height: 75px;

  padding-top: 2ch;
}
.homeheadersub{
  text-align: center;
  font-size: 20px;
  font-family: header;
  color:gray;
  padding-bottom: 0px;

}


.homeheader{
  text-align: center;
  padding-top: 2ch;
  font-size: 40px;
  font-weight: bold;
  font-family: ubu;
}


@font-face {
  font-family: header;
  src: url(Slabo27px-Regular.ttf);
}