* {
  margin: 0;
  padding: 0;
}

:root {
  --tan: #dbc1ac;
  --brown: #38220f;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: var(--tan);
}

.contact-form {
  position: relative;
  top: 2vw;
}

.contact-form label{
  display: inline-block;
  float: left;
  clear: left;
  width: 30%;
  text-align: right;
  font-family: header;
  font-size: 150%;
  padding-right: 1%;
}
.contact-form input {
  display: inline-block;
  float: left;
  padding-top: .5%;
  padding-bottom: .5%;
  width: 40vw;
}
textarea {
  display: inline-block;
  float: left;
  resize: none;
  width: 40%;
  height: 15vw;
}

.submitSection {
  float:left;
  clear:left;
  width: 30%;
  position: relative;
  left:31%;
  display: inline-block;

}
.submitSection input {
  width: 100px;
  height: auto;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration:none;
  color: var(--brown);
}

.blogDemo {
  border: black solid 1px;
  box-sizing: content-box;
  width: 40%;
  position: relative;
  left: 30%;
  color: black;
<<<<<<< HEAD
  background-color: var(--tan);
=======
  padding-left: 5ch;
  background-color: #dbc1ac;
>>>>>>> 2fd16c97e5c9689700d986b36902a4399f750022
}

.profile {
  border-radius: 50vw;
  width: 75px;
  height: 75px;  padding-top: 2ch;
}

.homeheadersub{
  text-align: center;
  font-size: 20px;
  font-family: header;
  color:gray;
  padding-bottom: 0px;
}

.aboutMe{
  color: var(--brown);
  margin: 0 auto;
}

.aboutMePage{
  position: relative;
  margin-top: 1%;
  padding-top: 3%;
  left: 8%;
  width: 80%;
  background-image: url('../img/AboutMePhoto.jpg');
  background-size: 30vw 40vw;
  background-repeat: no-repeat;
  height:76ch;
  overflow: hidden;

}
.container-content {
  overflow: hidden;
  position: relative;
  margin-left: 50%;
  color: #1a1004;
}
.filterinput{
  position:relative;
  margin-left: 1vw;
  padding-top:1%;
  padding-bottom:0;
}

.homeheader{
  text-align: center;
  padding-top: 2ch;
  font-size: 40px;
  font-weight: bold;
  font-family: ubu;
}
.NoPage{
    position: relative;
    left: 30%;
    width: 40%;
    font-family: header;
    margin-top: 10%;
    font-size: 3vw;
}
.blogPostNotFound{
  position: relative;
  left: 30%;
  width: 40%;
  font-family: header;
  margin-top: 10%;
  font-size: 3vw;
}
.blogPost {
  padding-top: 1.5ch;
  width: 55vw;
  position: relative;
  left: 25vw;
  word-wrap: break-word;
  font-size: 120%;
}

.blogEnding {
  padding-top: 5%;
  padding-bottom: 5%;
}

.blogPost h1 {
  color: #634832;
}
.blogPost h4 {
  position: relative;
  line-height: 30px;
  font-size: 15px;
}

.blogSearch{
  margin: 0;
  position: relative;
  left: 25vw;

}  

.nav {
  position: relative;
  word-wrap: break-word;
  background-color:#1a1004;
  overflow: hidden;
  font-family: header;

}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 14px 2% 16px 2%;
  text-decoration: none;
  font-size: 130%;
  margin: 0;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: var(--tan);
  color: black;
}

@font-face {
  font-family: header;
  src: url(Slabo27px-Regular.ttf);
}

@media screen and (max-width: 480px) {
  /* css for mobile */
}

@media screen and (min-width: 481px) {
  /* css for bigger screens */
}